.footer {
  inline-size: 100%;
  padding-block-start: 5px;

  background-color: aqua;
}

.footer__wrapper {
  padding-inline: 10px;
}

.footer__links {
  display: flex;
  column-gap: 20px;
}

.footer__link {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
